<footer id="footer" class="navbar-default navbar-fixed-bottom">

  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      
      <div class="container">

	<p>      

	  <a title="©2015 Slice Domains.">&copy; 2015 Slice Domains</a> &#183;

	  <a href="mailto:help@slicedomains.com" target="_blank">Feedback</a>

	</p>

      </div>

    </div>
  </div>
  
</footer>
