<p>Why does this site exist? To help you search for available domains.</p>
<p>None of your searches will be stored on our servers. We hope you find the domains you're looking for.</p>
<p><strong>Start typing away!</strong> If the domain name you are looking for is available, you can click Buy the domain.</p>
<p>Many more features are planned over the coming months. <strong>Stay tuned!</strong></p>

