<div class="row">
  <div class="col-md-6">

    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Domain Results</h3>
      </div>
      <div class="panel-body" id="results-box">

	<ul class="list-unstyled">
	  <% popular_tlds.each do |tld| %>
	  <li>
	    <% taken = result['tlds'].include? tld %>    
	    <%= ".#{tld}" %>&nbsp;
	    <%= render partial: "welcome/data", locals: {term: result['word'], taken: taken, tld: tld} %>
	  </li>
	  <% end %>
	</ul>
	
      </div>
    </div>

  </div>
</div>
